<span class="col-xs-3 col-xs-offset-1">
    <center>
        <a class="btn-card" {{action "onClick"}} disabled={{beat}}>
            <div class="card card-block">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">Add {{number}}</p>
            </div>
        </a>
    </center>
</span>
