<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            {{link-to "CS Clicker" "index" class="navbar-brand"}}
            <ul class="nav   navbar-nav">
                <li class="nav-item">{{link-to "Levels" "levels" class="nav-link"}}</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container main-body">
    {{outlet}}
</div>
